#overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
body {
}

span {
}

.img-thumbnail {
	max-width:250px;
	max-height:250px;
	height: auto;
	width:auto;
	object-fit: cover;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.reply > a > .img-thumbnail {
	max-width:150px;
	max-height:150px;
	height: auto;
	width:auto;
}

.maybetest {
	margin-top: 20px;
	margin-bottom: 20px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.content {
	display: grid;
}

.show {
	display: grid;
}

.thread {
	padding: 1em;
	margin-top: 2em;
	display: block;
	overflow: auto;
}

.reply {
	padding: 0.5em;
	background: #ccc;
	margin-top: 0.2em;
	justify-self: left;
	display: table;
}

.reply:hover {
	background: #d6d4d3;
}
.vthread {
	float: right;
}
.athread {
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#center {
	display: block;
	margin: 0 auto;
}

#link {
	margin-left: 1em;
}

.desc { 
	padding-left: 2em;
	white-space: pre;
	padding-top: 0.5em;
}

.author {
	color: #50b79d;
}

.subject {
	color: #8B0000;
}

.fa-trash-alt {
	color: red;
	background-color: #ccc;
	border: none;
}

.fa-thumbtack {
	color: #007BFF;
}

.fa-plus-square {
	border: none;
	background: none;
}

.fa-minus-square {
	border: none;
	background: none;
}

#qreply {
	right: 0px;
	top: 10%;
	position: fixed;
	
	background: #ccc;
}

#replyform {
	padding: 1em;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.strike {
	text-decoration: line-through;
}

.hidden > .reply {
	display: none;
}

.hidden > .reply:nth-last-child(-n+4) {
	display: table;
}

.visible > .reply {
	display: table;
}
